/*---- To delete the top and aside spaces ----*/
body{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---- HEADER SECTION -------*/
.header{
    margin: px 0px;
    text-align: center;
    background-color: rgba(6, 103, 103, 0.475);
    height: 250px;
    width: auto;
    
}

h1 {
    margin: 0px;
    font-size: 80px;
    padding-top: 20px
}

.texto-header{
    margin:0px;
    font-size: 20px;
}

.ul-header{
    display: flex;
    gap: 50px;
    justify-content: center;

    list-style: none;
    padding: 0;
    margin: 25px;
    font-size: 25px;
}

a{
    color: black;
    font-weight: bold;
}

a:hover{
    color: rgba(5, 5, 5, 0.663);
}

/*---- MAIN SECTION -- */
main{
    background-color: #d3d3d37a;
    margin: 0;
    padding: 0;
}

    /*---- para acomodar los divs---*/
section{
  display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    padding: 50px;
    justify-content: center;
}

.texto-inicio{
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding-top: 50px;
}

/*---- PRODUCTS SECTION - DIVS ----*/
.contenedores-productos{
    height: 400px;
    width: 300px;
    
    background: white;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px;
    
     transition: 0.3s;
}

.contenedores-productos:hover{
    transform: translateY(-8px);
    box-shadow: 0px 10px 20px rgba(0,0,0,.15);
    cursor: pointer;
}
    
.contenedores-productos label{
    font-size: 25px;
}

.contenedor-imagen{
    width: 100%;
    height: 180px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-imagen img{
    max-width: 200px;
    max-height: 170px;
    object-fit:contain;
}

.precio{
    font-size:22px;
    font-weight:bold;
}

.boton_agregar_a_carrito{
    margin: auto;
    height: 50px;
    width: 250px;
    
    background-color:rgb(19, 92, 175);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
     transition: background-color .3s;
}

.boton_agregar_a_carrito:hover{
    background-color: rgb(14,70,135);
}

/**** para ocultar la descripcion de cada div de los productos*/
.descripcion{
    display:none;
    position: relative;
    flex-direction: column;
    gap: 10px; /* separación entre texto y botón */
    padding: 15px;
    overflow-y: auto;
}

.descripcion p{
    text-align: justify;
    line-height: 1.5;
}

.descripcion button{
    position: absolute;
    top: 10px;
    right: 10px;

    width: 30px;
    height: 30px;

    border: none;
    border-radius: 50%;
    cursor: pointer;
}


/* ---- FOOTER ------*/
footer{
    width: 100%;
    height: 80px;
    background-color:  #d3d3d3dc;
    padding-top: 35px;
}

.ul-footer{
    display: flex;
    list-style: none;
    gap: 80px;
    font-size: 18px;
    justify-content: center;
}